<div class="card-img"></div>
<div class="card-body">
  <h4 class="card-title">{{animal?.name}}</h4>
  <p class="card-text">
    Old MacDonald had a farm, E I E I O, <br>
    And on his farm he had some {{animal?.name}}s, E I E I O. <br>
    With a {{animal?.sound}}-{{animal?.sound}} here and a {{animal?.sound}}-{{animal?.sound}} there, <br>
    Here a {{animal?.sound}}, there a {{animal?.sound}}, ev’rywhere a {{animal?.sound}}-{{animal?.sound}}. <br>
    Old MacDonald had a farm, E I E I O.
  </p>
</div>
<div class="card-shine"></div>
